<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="org.ifelse.wordspelling">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>


    <application
            android:name="org.ifelse.wordspelling.JKApp"
            android:allowBackup="true"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">


        <activity
                android:name="org.ifelse.vldata.forms.FormMain"
                android:configChanges="keyboard|keyboardHidden|orientation|locale|screenSize"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
        />

        <activity
                android:name="org.ifelse.vldata.forms.FormFlash"
                android:configChanges="keyboard|keyboardHidden|orientation|locale|screenSize"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/Flash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="org.ifelse.vldata.forms.FormOrder"
                android:configChanges="keyboard|keyboardHidden|orientation|locale|screenSize"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
        />
        <activity
                android:name="org.ifelse.vldata.forms.FormCnToEn"
                android:configChanges="keyboard|keyboardHidden|orientation|locale|screenSize"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
        />
        <activity
                android:name="org.ifelse.vldata.forms.FormCode"
                android:configChanges="keyboard|keyboardHidden|orientation|locale|screenSize"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
        />


        <meta-data android:name="com.baidu.speech.APP_ID"
                   android:value="15604141"/>
        <meta-data
                android:name="com.baidu.speech.API_KEY"
                android:value="7ShPcm9UvsKLE7KeUXcW31h5"/>
        <meta-data
                android:name="com.baidu.speech.SECRET_KEY"
                android:value="AhQnYjwtG301FGcjXAMDzz3FndqlXMoL"/>


    </application>

</manifest>